/* .inp{
    width:60%;
    margin: auto;

} */
/* .inputs{
    
    height: fit-content;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,auto);
    place-content: center;
    width: 100%;
}
button{
    cursor: pointer;
    margin: 2px;

}
button:hover{
  opacity: 0.5;

} */
/* CSS for the button */
.button-wrapper button {
  background-color: #4caf50; /* Green background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Add cursor pointer */
  border-radius: 8px; /* Rounded corners */
}

/* Hover effect */
.button-wrapper button:hover {
  background-color: #45a049; /* Darker green background on hover */
}

/* Change link color */
.button-wrapper button a {
  color: white; /* Set link color */
  text-decoration: none; /* Underline on hover */
}
